

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.upper-container {
  background-image: linear-gradient( 90deg, rgb(91, 103, 231),rgba(69,200,150, 0.4 )), url('.//images/pic8.jpg');
  background-size: cover;
  
  height: 100vh;


}
nav{
  background: black;
  height: 70px;
  width: 100%;
  
}
label.logo{
  margin-left: 190px;
  color: white;
  font-size: 20px;
  line-height: 80px;
  
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
}
nav ul{
  float: right;
   margin-right: 150px;
   font-family: 'Lustria', serif;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
 

}
nav ul li a{
  color: white;
  font-size: 15px;
  padding: 7px 13px;

    font-weight: 700;
    background:
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size: var(--d, 0) 3px, 3px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s;
}
a.active,a:hover{
  --d: 100%;
    padding: 6px 24px;
    color: white;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
    font-family: 'Lobster', cursive;
  }
  nav ul li a{
    font-size: 16px;
    
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
   
    
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
  }
  nav ul li a{
    font-size: 20px;
   
  }
 
  #check:checked ~ ul{
    left: 0;
  }
}
.center h1 {
  color: white;
  font-size: 75px;
  margin-left: 200px;
  font-family: 'Lustria', serif;
  letter-spacing: 1px;
}
.center h3 {
  color: white;
  font-size: 75px;
  margin-left: 200px;
  margin-top: 30px;
  letter-spacing: 1px;
  font-family: 'Lustria', serif;
}


.center p {
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
  color: white;
  font-size: 15px;
  margin-left: 180px;
 
  word-spacing: 20px;
  letter-spacing: 2px;
}

.center h4 {
  letter-spacing: 1px;
  margin-top: 50px;
  color: white;
  font-size: 20px;
  margin-left: 200px;
  font-weight: 500;
  font-family: 'Lustria', serif;
}
.center h2 {
  letter-spacing: 1px;
  margin-top: 70px;
  color: white;
  font-size: 20px;
  margin-left: 200px;
  font-weight: normal;
  font-family: 'Lustria', serif;
}
hr { 
  display: block;
  margin-top: 100px;
  margin-bottom: 0.5em;
  margin-left: 200px;
  margin-right: 150px;
  border-style: inset;
  border-width: 1px;
} 
.center .fa-arrow-right {
  font-size: 17px;
  text-align: center;
 justify-content: center;
 margin-left: 20px;
 color: white;
 }

.middle-container1 img {
  height: 400px;
  float: right;
  margin-top: 100px;
  width: 600px;
  margin-right: 50px;
  border-radius: 10px;
}
 .s1 {

  background-color: white;
}
.middle-container p {
  text-align: left;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
}
.middle-container h1 {
  font-family: 'Lustria', serif;
 text-align: center;
 margin-top: 50px;
 margin-bottom: 20px;
 font-size: 30px;
 
}

.middle-container1 h2 {
  margin-top: 150px;
  text-align: center;
  font-family: 'Lustria', serif;
  font-size: 30px;
 }
 .middle-container1 p {
  margin-left: 50px;
  text-align: justify;
  margin-right: 680px;
  margin-top: 40px;
  letter-spacing: .5px;
  font-size: 20px;
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
 }
 .team-container img {
   width: 200px;
   border-radius: 50%;
 }

 .team-container 
{

  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}
.team-container h1 {
  font-family: 'Lustria', serif;
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  color: white;
  font-weight: 700;
}

.team-container h2{
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  color: rgb(248, 231, 231);
}

.team-container p
{  font-family: 'Lustria', serif;
  font-weight: 200;
  font-size: 17px;
  text-align: center;
  margin-top: 5px;
  color: rgb(201, 191, 191);
}
.s2 {
  background-color: black;
}
.meet h1 {
  margin-top: 50px;
  color: white;
  font-size: 40px;
  margin-left: 100px;
  font-family: 'Lustria', serif;
}
.meet p{
  color: white;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

.cnt {
 
  height: 100vh;
  background-size: cover;
}
.cnt h1 {
  text-align: center;
  margin-top: 60px;
  font-family: 'Lustria', serif;
}
.cnt hr { 
  display: block;
  border-style: inset;
  border-width: 1px; 
  
} 
.conts {
          
      
  background-color: white;
   margin: 1px 101px 0px 101px;


}
.conts h1{
font-size: 40px;

font-family: 'Lustria', serif;
text-align: center;

color: black;

  }

  .conts p{
  
    font-family: 'Lato', sans-serif;
  font-weight: normal;
  
  font-size: 25px;
   margin-left: 100px;
  color: black;

  }

.cnt-container {
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: space-evenly;
margin-left: 100px;
}
.tams {
margin-left: 20px;
justify-content: center;
text-align: center;
font-family: 'Lato', sans-serif;
padding: 20px 34px;

}
.wthm {
margin-left: 60px;
justify-content: center;
text-align: center;
font-family: 'Lato', sans-serif;
padding: 20px 64px;

}
.wthn {
  margin-right: 20px;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 20px 64px;
  
  }
.conts h2 {
margin-left: 100px;
font-size: 40px;
font-family: 'Lato', sans-serif;
margin-top: 100px;
font-weight: 500;

}
.conts h4 {
font-size: 20px;
font-weight: normal;
font-family: 'Lato', sans-serif;
}
.conts i {
letter-spacing: 30px;
margin-top: 10px;
margin-left: 25px;
}
.fa-comments {
font-size: 60px;
justify-content: center;
margin-bottom: 10px;
}
.fa-envelope {
font-size: 60px;
justify-content: center;
margin-bottom: 10px;
}

.ft h1 {
  font-family: 'Lustria', serif;
}

.ft {
  margin-top: 40px;
  background-color: black;
  color: white;
  text-align: center;
  
}
.ft p {
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
}
.ft .fa {
  margin-top: 20px;
  font-size: 50px;
  letter-spacing: 30px;
  text-align: center;
  
}
.fa-arrow-right :hover {
  background-color: transparent;
}
.fa-arrow-right {
  background-color: transparent;
}
.ft .fa:hover {
       color: white;
       background-color: transparent;
}
.fa-linkedin-square {
  color: rgb(73, 6, 128);
  font-size: 70px;
  animation: fa-beat 5s ease infinite;
}

.fa-facebook-square {
  color: skyblue;
  font-size: 70px;
  animation: fa-beat 5s ease infinite;
}
.fa-reddit-square {
  color: orange;
  font-size: 70px;
  animation: fa-beat 5s ease infinite;
}
.fa-twitter-square {
  color: lightblue;
  font-size: 70px;
  animation: fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.50);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1.50);
  }
  35% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.50);
  }
  55% {
    transform:scale(1);
  }
  70% {
    transform:scale(1.50);
  }
}




@media only screen and (max-width: 768px) {
  label.logo{
    margin-left: 0px;
    color: white;
    font-size: 20px;
    line-height: 80px;
    
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
  }
 body {
   margin: 0px 0px 0px 0px;
   box-sizing: border-box;
   padding: 0;
 }
  .center h1 {
    color: white;
    font-size: 30px;
    margin: 0px 0px 0px 20px;
    font-family: 'Lustria', serif;
    letter-spacing: 1px;
  }
  .center h3 {
    color: white;
    font-size: 30px;
    margin: 0px 0px 0px 20px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: 'Lustria', serif;
  }
  
  
  .center p {
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    margin-right: 0px;
    margin: 70px 0px 0px 20px;
    word-spacing: 20px;
    letter-spacing: 2px;
  }
  
  .center h4 {
    letter-spacing: 1px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    margin: 50px 0px 0px 20px;
    font-weight: 500;
    font-family: 'Lustria', serif;
  }
  .center h2 {
    letter-spacing: 1px;
    margin: 60px 0px 0px 20px;
    color: white;
    font-size: 20px;
   
    font-weight: normal;
    font-family: 'Lustria', serif;
  }
  hr { 
    
    margin: 60px 20px 0px 20px;
     border-style: inset;
    border-width: 1px;
  } 
  .center .fa-arrow-right {
    font-size: 17px;
    text-align: center;
   justify-content: center;
   margin-left: 20px;
   color: white;
   }
   .middle-container1 img {
    height: 400px;
    
    margin-top: 10px;
    width: 380px;
    margin-bottom: 20px;
    border-radius: 10px;
   
  }
   .s1 {
  
    background-color: white;
  }
  .middle-container p {
    text-align: left;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 20px;
  }
  .middle-container h1 {
    font-family: 'Lustria', serif;
   text-align: center;
   margin-top: 50px;
   margin-bottom: 20px;
   font-size: 30px;
  }
  
  .middle-container1 h2 {
    
    text-align: center;
    font-family: 'Lustria', serif;
    font-size: 30px;
   }
   .middle-container1 p {
    
    color: black;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
   }
   .team-container img {
     width: 200px;
     border-radius: 50%;
     margin-top: 30px;
     margin-left: 50px;
     margin-right: 50px;
   }
  
   .team-container 
  {
  
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
  }
  .team-container h1 {
    font-family: 'Lustria', serif;
    font-size: 20px;
    text-align: center;
    margin-top: px;
    color: white;
    font-weight: 700;
  }
  
  .team-container h2{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: rgb(248, 231, 231);
  }
  
  .team-container p
  {  font-family: 'Lustria', serif;
    font-weight: 200;
    font-size: 17px;
    text-align: center;
    margin-top: 5px;
    color: rgb(201, 191, 191);
  }
  .s2 {
    background-color: black;
  }
  .meet h1 {
    margin-top: 50px;
    color: white;
    font-size: 40px;
    margin-left: 100px;
    font-family: 'Lustria', serif;
  }
  .meet p{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
  }
  


    .conts {
      margin: 1px 0px 0px 0px;
  
 }
 .cnt-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
 margin: 0px 0px 0px 0px;
 
}
 .tams {
  margin-left: 0px;
  justify-content: center;
  text-align: center;

;
}
.wthm {
 
 justify-content: center;
 text-align: center;
 margin-left: 0px;
 

}
.conts h2 {
  margin-left: 50px;
  font-size: 30px;
  
  margin-top: 20px;
  font-weight: 500;
}
.conts p{
  
  
  font-weight: normal;
  
  font-size: 20px;
   margin-left: 50px;
  color: black;

  }
.conts h4 {
  font-size: 20px;
  font-weight: normal;

}
.conts i {
letter-spacing: 0px;
margin-top: 10px;
margin-left: 10px;
}
.fa-comments {
font-size: 40px;
justify-content: center;
margin-bottom: 10px;
}
.fa-envelope {
font-size: 50px;
justify-content: center;
margin-bottom: 10px;
}
.ft h1 {
  font-family: 'Lustria', serif;
}

.ft {
  margin-top: 100px;
  background-color: black;
  color: white;
  text-align: center;
  
}
.ft p {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
}
.ft .fa {
  margin-top: 20px;
  font-size: 50px;
  letter-spacing: 30px;
  text-align: center;
  
}
.fa-arrow-right :hover {
  background-color: transparent;
}
.fa-arrow-right {
  background-color: transparent;
}
.ft .fa:hover {
       color: white;
       background-color: transparent;
}
.fa-linkedin-square {
  color: rgb(73, 6, 128);
  font-size: 70px;
  animation: fa-beat 5s ease infinite;
}

.fa-facebook-square {
  color: skyblue;
  font-size: 70px;
  animation: fa-beat 5s ease infinite;
}
.fa-reddit-square {
  color: orange;
  font-size: 70px;
  animation: fa-beat 5s ease infinite;
}
.fa-twitter-square {
  color: lightblue;
  font-size: 70px;
  animation: fa-beat 5s ease infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  5% {
    transform:scale(1.50);
  }
  20% {
    transform:scale(1);
  }
  30% {
    transform:scale(1.50);
  }
  35% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.50);
  }
  55% {
    transform:scale(1);
  }
  70% {
    transform:scale(1.50);
  }
}

   
}   
